body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    background-color: #ffffff;
}

.game {
    border: 10px solid #006600;
    margin: 40px auto;
    width: fit-content;
}

.game .splash-image {
    display: block;
}

.game ul {
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.game ul li {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    border: 1px dotted #00aa00;
    float: left;
}

.game ul li.first {
    clear: both;
}

.game ul li.head {
    background-color: #0000cc;
}

.game ul li.head {
    background-color: transparent;
    background-image: url(head.png);
    background-repeat: no-repeat;
    background-size: 120%;
}

.game ul li.head[data-dir="0"] {
    transform: rotate(0deg);
    background-position: center 0px;
}
.game ul li.head[data-dir="1"] {
    transform: rotate(90deg);
    background-position: center 0px;
}
.game ul li.head[data-dir="2"] {
    transform: rotate(180deg);
    background-position: center 0px;
}
.game ul li.head[data-dir="3"] {
    transform: rotate(270deg);
    background-position: center 0px;
}

.game ul li.body {
    background-color: #000066;
}

.game ul li.egg::after {
    content: " ";
    position: absolute;
    display: block;
    width: 80%;
    height: 80%;
    background-color: #cc0000;
    border-radius: 50%;
    top: 10%;
    left: 10%;
}

.score {
    position: absolute;
    top: 40px;
    right: 40px;
    border: 5px solid #006600;
    width: fit-content;
    min-width: 200px;
    font-size: 70px;
    text-align: right;
    padding: 20px;
    line-height: 1;
}

.menu {
    display: none;
    width: 300px;
    margin: 0 auto;
    padding: 0;
}

.menu.show {
    display: block;
}

.menu li {
    margin-bottom: 40px;
    display: block;
}

.menu li a {
    display: block;
    padding: 20px 30px;
    border: 2px solid #006600;
    color: #006600;
    font-size: 40px;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
    user-select: none;
}

.menu li a:hover {
    color: #ffffff;
    background-color: #006600;
    cursor: pointer;
}

.menu li a:active {
    background-color: #008800
}

.controls {
    bottom: 50px;
    left: calc(50% - 150px);
    position: fixed;
    display: none;
    width: 300px;
    height: 300px;
    padding: 0;
}

.controls.show {
    display: block;
}

.controls a {
    position: absolute;
    display: block;
    width: 100px;
    height: 100px;
    font-size: 50px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.controls a.up {
    background-image: url(images/arrow-up.png);
    top: 0;
    left: calc(50% - 50px);
}

.controls a.left {
    background-image: url(images/arrow-left.png);
    top: calc(50% - 50px);
    left: 0;
}

.controls a.right {
    background-image: url(images/arrow-right.png);
    top: calc(50% - 50px);
    right: 0;
}

.controls a.down {
    background-image: url(images/arrow-down.png);
    bottom: 0;
    left: calc(50% - 50px);
}

.controls a.up:active {
    background-image: url(images/arrow-up-2.png);
    top: 0;
    left: calc(50% - 50px);
}

.controls a.left:active {
    background-image: url(images/arrow-left-2.png);
    top: calc(50% - 50px);
    left: 0;
}

.controls a.right:active {
    background-image: url(images/arrow-right-2.png);
    top: calc(50% - 50px);
    right: 0;
}

.controls a.down:active {
    background-image: url(images/arrow-down-2.png);
    bottom: 0;
    left: calc(50% - 50px);
}